.idea

# 환경 변수 파일들
.env
.env.*
**/.env
**/.env.*
!.env.example
!.env.*.example

# OS 파일
.DS_Store
Thumbs.db

# Terraform / OpenTofu
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
.terraform.lock.hcl